@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #181818;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.main-content {
  padding: 40px 40px;
  margin: 100px auto;
  max-width: 500px;
  min-height: 400px;
  background-color: #1f1f1f;
  border: solid 1px #52525b;
  border-radius: 20px;
}

h1 {
  color: rgb(190, 190, 190);
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

button {
  background-color: rgb(106, 204, 76);
  color: black;
  padding: 20px 0;
  min-width: 200px;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}

.number {
  min-width: 70px;
  background-color: #1f1f1f;
  border: solid 1px #52525b;
  color: #52525b;
  border-radius: 5px;
}

.number:active {
  border: solid 1px #52525b;
  background-color: rgb(106, 204, 76);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.number:hover {
  border: solid 1px rgb(106, 204, 76);
  transition: all 0.2s ease-in-out;
}

.characters-text {
  color: #52525b;
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pass-frame {
  display: flex;
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #52525b;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 3px;
  border: solid 1px #808080;
}

.generate:hover {
  color: white;
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 0px 1px rgb(106, 204, 76);
  transition: all 0.2s ease-in-out;
}

.generate:active {
  background-color: rgb(106, 204, 76);
  color: black;
  transition: all 0.2s ease-in-out;
}

.copy:hover {
  color: white;
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 0px 1px rgb(106, 204, 76);
  transition: all 0.2s ease-in-out;
}

.copy:active {
  background-color: rgb(106, 204, 76);
  color: black;
  transition: all 0.2s ease-in-out;
}
